<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudchunk.core.file.mapper.FileMetaMapper">

    <update id="incRefCount">
        UPDATE file_meta
        SET ref_count = ref_count + 1
        WHERE file_id = #{fileId}
          AND deleted_at IS NULL
    </update>

    <update id="decRefCount">
        UPDATE file_meta
        SET ref_count = GREATEST(ref_count - 1, 0)
        WHERE file_id = #{fileId}
          AND deleted_at IS NULL
    </update>

    <select id="selectActiveUserFilePage" resultType="com.cloudchunk.core.file.entity.FileMeta">
        SELECT fm.*
        FROM file_meta fm
        WHERE fm.status != #{deletedStatus}
          AND fm.deleted_at IS NULL
          AND EXISTS (
              SELECT 1
              FROM user_file uf
              WHERE uf.user_id = #{userId}
                AND uf.status = 0
                AND uf.is_dir = 0
                AND uf.file_id = fm.file_id
          )
        <if test="mimePrefix != null and mimePrefix != ''">
          AND fm.mime_type LIKE CONCAT(#{mimePrefix}, '%')
        </if>
        <if test="keyword != null and keyword != ''">
          AND fm.file_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY fm.created_at DESC
    </select>

</mapper>
