<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudchunk.core.file.mapper.FileMetaMapper">

    <update id="incRefCount">
        UPDATE file_meta
        SET ref_count = ref_count + 1
        WHERE file_id = #{fileId}
          AND deleted_at IS NULL
    </update>

    <update id="decRefCount">
        UPDATE file_meta
        SET ref_count = GREATEST(ref_count - 1, 0)
        WHERE file_id = #{fileId}
          AND deleted_at IS NULL
    </update>

</mapper>
